
.cabecalho{
    background-color: rgb(13, 29, 252);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
} 

.cabecalho-imagem{
width: 70%;
}
.cabecalho-lista-item{
    
}
    

